.Products{
    display: grid;
    gap: 1rem;
    padding: var(--padding);
}
.Products h2 {
    font-size: var(--font-size-lg);
    color: var(--primary);
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.ProductsWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    flex-wrap: wrap;
}